.contact-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  padding-top: 0.5rem;
  padding-right: 0.7rem;
}

.contact-icon > svg {
  fill: $primaryColor;
  opacity: 0.8;
}

.arroba-path {
  fill: blue;
  transform: scale(1.5);
}
