// Thanks to https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/
// for some of the tips

@page { margin: 2cm; }

main {
  width: 100%;
  margin: 0;
  font-size: 13pt;
  display: initial;
}

h1 {
  font-size: 38pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

.sticky {
  position: initial;
  background-color: initial;
  top: initial;
}

aside {
  display: none;
}

img {
  max-width: 200px;
  max-height: 200px;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

section.about {
  page-break-after: always;
}

section.work {
  page-break-after: always;

  li.entry {
    page-break-before: avoid;
    page-break-after: avoid;
  }
}
