// Thanks to https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/
// for some of the tips

@import 'horizontal-header.scss';

@page {
  margin: 2cm;
  size: a4 portrait;
}

main,
header {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  font-size: 13pt;
  display: initial;
}

h1 {
  font-size: 38pt;
}

h2 {
  font-size: 22pt;
}

h3 {
  font-size: 18pt;
}

.no-print {
  display: none;
}

.print-only {
  display: initial;
}

img {
  max-width: 200px;
  max-height: 200px;
}

a,
a:hover,
a:active,
h3 {
  color: inherit;
  text-decoration: none;
}

// thanks to https://davidwalsh.name/optimize-your-links-for-print-using-css-show-url
.links > ul > li {
  a:link::after,
  a:visited::after {
    content: " - " attr(href);
  }
}

.sticky {
  position: initial;
  background-color: initial;
  top: initial;
}

// workaround Firefox bug: https://stackoverflow.com/a/59992837/2274124
.grid-container {
  display: block;

  section {
    padding-top: 2rem;
  }
}
