$primaryColor: rgb(252, 151, 0);
$primaryColorAlpha: rgba(252, 151, 0, 0.5);
$breakpoint: 800px;

@import 'reset.scss';

html {
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.5;
}

ul {
  padding-left: 1.5em;
  list-style-type: square;
}

a,
a:active,
a:hover {
  color: $primaryColor;
  text-decoration: none;
}

p {
  text-indent: 1em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.5rem;
  color: $primaryColor;
}

h1,
h2 {
  line-height: initial;
  text-decoration: none;
}

h3 {
  z-index: 1;
  font-size: 2rem;
  text-decoration: underline $primaryColor;
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  gap: 1em; // https://developer.mozilla.org/en-US/docs/Web/CSS/gap
  grid-gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "about"
    "work"
    "skills"
    "programming"
    "tools"
    "education"
    "certs"
    "languages"
    "community"
    "hobbies"
    "links";
}

main {
  margin: 0 auto 1em;
  padding: 0 1em;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 1.5em 0;

  .nameandtitle {
    text-align: center;
    padding-top: 1em;
  }

  figure {
    display: flex;
    justify-content: center;

    img {
      border: 2px solid $primaryColor;
      border-radius: 50%;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem;
}

section.work {
  @import 'work.scss';
}

.scroll-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  z-index: 99;

  .background {
    fill: $primaryColorAlpha;
  }
}

.sticky {
  position: sticky;
  // background-image: linear-gradient(white 90%, rgba(0,0,0,0));
  background-color: white;
  top: 0;
}

.link-no-color {
  a,
  a:hover,
  a:active {
    color: inherit;
  }
}

@import 'github-corner.scss';
