article {
  max-width: 85vw;
  margin: 5vmin auto;

  gap: 4vmin 3em;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header     header"
    "work       skills"
    "work       programming"
    "work       tools"
    "work       languages"
    "work       education"
    "work       hobbies"
    "work       ......"
    "about      ......"
    "community  ......"
    "references ......"
    "links      ......";
}

header {
  flex-direction: row;

  div#photo {
    flex: 1;
    order: 1; // move to the right
  }

  div#nameandtitle {
    flex: 2;
    text-align: left;
  }
}

section.work p:nth-of-type(2) { // make title stick on top
  position: sticky;
  top: 75px;
  background-color: white;
}
