article {
  max-width: 85vw;
  margin: 5vmin auto;

  gap: 4vmin 3em;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header     header"
    "work       skills"
    "work       languages"
    "work       education"
    "work       hobbies"
    "work       ......"
    "about      ......"
    "community  ......"
    "references ......"
    "links      ......";
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-align: left;

  div {
    display: flex;
    justify-content: center;
  }

  div#photo {
    flex: 1;
    order: 1;
  }

  div#nameandtitle {
    flex: 2;
    flex-flow: column;
  }
}

section.work p:nth-of-type(2) { // make title stick on top
  position: sticky;
  top: 75px;
  background-color: white;
}
