header {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  margin: 1em 0 0;
  padding-bottom: 1em;
  top: 44px;
}

h4 {
  font-size: 1.2em;
}

h5 {
  padding-left: 1em;
  font-size: 1.1em;
  font-weight: 300;
}

.time-period {
  font-style: italic;
}

.title {
  color: $secondaryColor;
}

p {
  margin-top: 0.5em;
}

ul.entries {
  padding: 0;
  list-style: none;
}

li.entry {
  margin-bottom: 2em;
}

ul ul {
  padding-top: 0.5em;

  li {
    padding-bottom: unset;
  }
}
