<meta charset="utf-8">

<meta
  name="viewport"
  content="width=device-width, initial-scale=1"
>

{{ with $.Param "description" }}
<meta
  name="description"
  content="{{ . }}"
>
{{ end }}

<title>{{ .Site.Title }}</title>

{{ $cssResource := resources.Get "style.scss" | resources.ToCSS }}
<link
  rel="stylesheet"
  crossorigin="anonymous"
  href="{{ $cssResource.RelPermalink }}"
  type="text/css"
>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto"
>

<!-- https://stackoverflow.com/a/13416784 -->
<link
  rel="icon"
  href="data:;base64,iVBORw0KGgo="
>
