<section
  class="work"
  style="grid-area: work;"
>

  <h3 class="sticky link-no-color">
    <a href="/work/">
      Work experience
    </a>
  </h3>

  <ul class="entries">
    {{ range (sort .Pages ".Date").Reverse }}

    <li class="entry">

      <header class="sticky">

        <h4 class="workplace">{{ .Title }}</h4>

        {{ with .Params.location }}<h5 class="location">{{ . }}</h5>{{ end }}
        <h5 class="time-period">{{ .Params.timePeriod }}</h5>
        <h5 class="title"><strong>{{ .Params.jobTitle }}</strong></h5>

      </header>

      {{ .Content }}

    </li>

  {{ end }}
  </ul>

</section>
